[submodule ".registry"]
	path = .registry
	url = https://github.com/colinfay/universe
	shallow = true
	branch = HEAD
[submodule "golem"]
	path = golem
	url = https://github.com/thinkr-open/golem
	shallow = true
	registered = true
[submodule "bank"]
	path = bank
	url = https://github.com/thinkr-open/bank
	shallow = true
	registered = true
[submodule "testdown"]
	path = testdown
	url = https://github.com/thinkr-open/testdown
	shallow = true
	registered = true
[submodule "remedy"]
	path = remedy
	url = https://github.com/thinkr-open/remedy
	shallow = true
	registered = true
[submodule "shinipsum"]
	path = shinipsum
	url = https://github.com/thinkr-open/shinipsum
	shallow = true
	registered = true
[submodule "w3css"]
	path = w3css
	url = https://github.com/thinkr-open/w3css
	shallow = true
	registered = true
[submodule "fakir"]
	path = fakir
	url = https://github.com/thinkr-open/fakir
	shallow = true
	registered = true
[submodule "riem"]
	path = riem
	url = https://github.com/ropensci/riem
	shallow = true
	registered = true
[submodule "minifyr"]
	path = minifyr
	url = https://github.com/colinfay/minifyr
	shallow = true
	registered = true
[submodule "dockerfiler"]
	path = dockerfiler
	url = https://github.com/colinfay/dockerfiler
	shallow = true
	registered = true
[submodule "glouton"]
	path = glouton
	url = https://github.com/colinfay/glouton
	shallow = true
	registered = true
[submodule "gargoyle"]
	path = gargoyle
	url = https://github.com/colinfay/gargoyle
	shallow = true
	registered = true
[submodule "brochure"]
	path = brochure
	url = https://github.com/colinfay/brochure
	shallow = true
	registered = true
[submodule "crrry"]
	path = crrry
	url = https://github.com/colinfay/crrry
	shallow = true
	registered = true
[submodule "noon"]
	path = noon
	url = https://github.com/colinfay/noon
	shallow = true
	registered = true
[submodule "hexmake"]
	path = hexmake
	url = https://github.com/colinfay/hexmake
	shallow = true
	registered = true
[submodule "dockerstats"]
	path = dockerstats
	url = https://github.com/colinfay/dockerstats
	shallow = true
	registered = true
[submodule "bubble"]
	path = bubble
	url = https://github.com/colinfay/bubble
	shallow = true
	registered = true
[submodule "attempt"]
	path = attempt
	url = https://github.com/colinfay/attempt
	shallow = true
	registered = true
[submodule "darkmode"]
	path = darkmode
	url = https://github.com/colinfay/darkmode
	shallow = true
	registered = true
[submodule "geoloc"]
	path = geoloc
	url = https://github.com/colinfay/geoloc
	shallow = true
	registered = true
[submodule "resume"]
	path = resume
	url = https://github.com/colinfay/resume
	shallow = true
	registered = true
[submodule "nessy"]
	path = nessy
	url = https://github.com/colinfay/nessy
	shallow = true
	registered = true
[submodule "rnotify"]
	path = rnotify
	url = https://github.com/colinfay/rnotify
	shallow = true
	registered = true
[submodule "tidystringdist"]
	path = tidystringdist
	url = https://github.com/colinfay/tidystringdist
	shallow = true
	registered = true
[submodule "proustr"]
	path = proustr
	url = https://github.com/colinfay/proustr
	shallow = true
	registered = true
[submodule "feathericons"]
	path = feathericons
	url = https://github.com/colinfay/feathericons
	shallow = true
	registered = true
[submodule "craneur"]
	path = craneur
	url = https://github.com/colinfay/craneur
	shallow = true
	registered = true
[submodule "skeleton"]
	path = skeleton
	url = https://github.com/colinfay/skeleton
	shallow = true
	registered = true
[submodule "handydandy"]
	path = handydandy
	url = https://github.com/colinfay/handydandy
	shallow = true
	registered = true
[submodule "fryingpane"]
	path = fryingpane
	url = https://github.com/colinfay/fryingpane
	shallow = true
	registered = true
[submodule "wtfismyip"]
	path = wtfismyip
	url = https://github.com/colinfay/wtfismyip
	shallow = true
	registered = true
